* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
    color: white;
    font-size: 16px;
    overflow: hidden;
}

/* HEADER */
header {
    position: fixed;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    z-index: 2;
}

header img {
    width: 250px;
}

/* SECTION */
section {
    background-image: radial-gradient(#470964, #791fd3);
    height: 100vh;
    position: relative;
}

/* LIST */
section .list {
    width: 70vw;
    margin: auto;
    height: 100%;
    position: relative;
}

section .list::before {
    content: '';
    position: absolute;
    height: 200px;
    width: 100%;
    top: 50%;
    border-top: 1px solid #fff;
}

/* ITEM */
section .list .item {
    position: absolute;
    inset: 0;
    transform: translateX(calc(100vw * var(--calculation)));
    transition: 0.5s;
    opacity: 0;
}

section .list {
    --calculation: 1;
}

/* CAR IMAGE */
section .list .item .car-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
}

section .list .item .car-img img {
    width: 100%;
    transform: rotate(0);
    transition: 0.5s;
    transition-delay: 0.3s;
}

section .list .item .car-img::before {
    content: '';
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100px;
    top: 150%;
    left: 50px;
    filter: blur(50px);
}

/* CONTENT */
section .list .item .content {
    position: absolute;
    right: 100px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 20px;
}

section .list .item .content .car-information {
    font-weight: bold;
    transform: translateX(calc(200px * var(--calculation)));
    transition: 0.7s;
    transition-delay: 0.3s;
    opacity: 0;
}

section .list .item .content h2 {
    font-size: 3em;
    line-height: 1em;
    font-family: "League Gothic", sans-serif;
    transform: translateX(calc(200px * var(--calculation)));
    transition: 0.7s;
    transition-delay: 0.5s;
    opacity: 0;
}

/* ACTIVE ITEM */
section .list .item.active {
    transform: translateX(0);
    opacity: 1;
}

section .list .item.active .car-img img {
    transform: rotate(-20deg);
}

section .list .item.active .content .car-information,
section .list .item.active .content h2 {
    transform: translateX(0);
    opacity: 1;
}

/* ARROWS */
.arrows {
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25px);
    display: flex;
    justify-content: space-between;
}

.arrows button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.arrows button img {
    width: 30px;
    margin-top: 4px;
}

.arrows button:nth-child(1) img {
    transform: scale(-1);
}

.arrows button:hover {
    background-color: #beff1b;
}

/* INDICATORS */
.indicators {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;
}

.indicators .number {
    font-size: 5em;
    font-family: "League Gothic", sans-serif;
}

.indicators ul {
    display: flex;
    gap: 10px;
}

.indicators ul li {
    width: 50px;
    height: 5px;
    background-color: #beff1b;
    border-radius: 5px;
    transition: 0.5s;
}

.indicators ul li.active {
    background-color: white;
}
